.nav-container {
  
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(24, 45, 52);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4);
}

nav > h2 {
  color: white;
}

.nav-links {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links li a {
  text-decoration: none;
  color: white;
}

.nav-links li a:hover {
  opacity: 50%;
  cursor: pointer;
}