.book-card {
  display: flex;
  flex-direction: column;
  background-color: rgb(229, 234, 237);
  width: 200px;
  height: 300px;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.2);
  margin: 0 0 20px 0;
  padding: 10px 10px;
  font-size: 100%;
}

.book-card:hover {
  opacity: 75%;
  cursor: pointer;
}

.book-image {
  margin: 0 0 8px 0;
  width: 200px;
  height: 300px;
}

.book-title {
  font-weight: bold;
}